nav {
	background-color: $black;
	color: $white;	
 	top: 0;
 	padding: 10px;

 	ul {
	list-style: none;
	border-top: solid 1px $white;
	border-bottom: solid 1px $white;
	height: auto !important;
	background: transparent !important;
	border-radius: 0em !important;
	width: 100% !important;
	padding:0em !important;
	margin: auto !important;
	
		li {
 			 margin-left: 1%;
 			 padding: .5%;
 			 font-size: $sizeMin;

 			 &:hover {
  				opacity: 1.1;
  				transform: translateY(-10%);
  				transition:all 400ms ease;
  				}
  				

  			}			

	}

}

