

$bg-1: linear-gradient(to right,#FFFFFF,#E7FBA9);
$bg-2: linear-gradient(to left,#FFFFFF,#E7FBA9);
$bg-3: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$bg-4: linear-gradient(to bottom, #370537, #2f0626, #250619, #19030d, #000000);
$bg-5: linear-gradient(to bottom, #000000, #1a040d, #270719, #330525, #3f0235, #3f0235, #3f0235, #3f0235, #330525, #270719, #1a040d, #000000);
$bg-6: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);


$white: #FEF3F3;
$black: #000000;
$violet: #470448;
$blue: #0E22E7;


$sizeMin: 0.8em;
$size1: 1em;
$size2: 1.1em;
$size3: 1.4em;
$mainSize: 1.8em;



$flag:( 
	'british':linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(19,54,228,1) 0%, rgba(255,255,255,1) 0%, rgba(16,13,231,1) 0%, rgba(128,127,255,1) 17%, rgba(219,218,255,1) 20%, rgba(255,255,255,1) 22%, rgba(228,16,9,1) 26%, rgba(255,255,255,1) 30%, rgba(69,98,240,1) 43%, rgba(255,255,255,1) 47%, rgba(235,5,5,1) 51%, rgba(255,255,255,1) 55%, rgba(113,120,236,1) 65%, rgba(255,255,255,1) 70%, rgba(249,69,69,1) 75%, rgba(255,216,216,1) 78%, rgba(226,225,245,1) 80%, rgba(146,151,249,1) 84%, rgba(5,0,255,1) 98%, rgba(144,148,249,1) 100%, rgba(0,9,255,1) 100%, rgba(47,5,255,1) 100%, rgba(11,47,249,1) 100%, rgba(8,0,255,1) 100%),

	'spanish': linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(235,6,6,1) 0%, rgba(224,231,28,1) 34%, rgba(233,235,5,1) 65%, rgba(255,0,0,1) 92%),

	'france': linear-gradient(90deg, rgba(58,70,180,1) 0%, rgba(29,41,253,1) 24%, rgba(255,255,255,1) 33%, rgba(254,254,254,1) 65%, rgba(247,18,18,1) 67%, rgba(252,69,69,1) 98%),

	'italian': linear-gradient(90deg, rgba(58,180,68,1) 0%, rgba(29,253,32,1) 24%, rgba(255,255,255,1) 33%, rgba(254,254,254,1) 65%, rgba(247,18,18,1) 67%, rgba(252,69,69,1) 98%),

	);

$lang: es;