
$bg-1: linear-gradient(to right,#FFFFFF,#E7FBA9);
$bg-2: linear-gradient(to left,#FFFFFF,#E7FBA9);
$bg-3: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$bg-4: linear-gradient(to bottom, #370537, #2f0626, #250619, #19030d, #000000);
$bg-5: linear-gradient(to bottom, #000000, #1a040d, #270719, #330525, #3f0235, #3f0235, #3f0235, #3f0235, #330525, #270719, #1a040d, #000000);
$bg-6: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);


$white: #FEF3F3;
$black: #000000;
$violet: #470448;
$blue: #0E22E7;


$sizeMin: 0.8em;
$size1: 1em;
$size2: 1.1em;
$size3: 1.4em;
$mainSize: 1.8em;


